# AWS Elastic Beanstalk Configuration

# .ebextensions/01_aws.config
# Place this file in .ebextensions folder at project root

option_settings:
  aws:elasticbeanstalk:application:environment:
    SPRING_PROFILES_ACTIVE: prod
    SERVER_PORT: 8080
  aws:elasticbeanstalk:container:tomcat:jvm:
    XX_MAX_HEAP_SIZE: 512m
    XX_MIN_HEAP_SIZE: 128m
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  aws:ec2:instances:
    InstanceTypes: t3.micro
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 2
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7

packages:
  yum:
    java-17-amazon-corretto-devel: []

files:
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/01_app.conf":
    content: |
      /var/log/eb-engine.log
      /var/log/eb-provisioner.log

commands:
  01_download_app:
    command: "mvn clean package -DskipTests"
    ignoreErrors: true

container_commands:
  01_migrate:
    command: "echo 'Database migration will be handled by Hibernate DDL'"

